@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

.div-center {
    display: table;
    margin: 0 auto;
}

.div-center img {
    width: 10rem;
}

.buttons-group {
    display: flex;
}

.buttons-group button:first-child {
    margin-right: 8px;
}

a,
div,
img,
p,
button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.main-page {
    height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-text {
    margin: auto !important;
    text-align: center;
    font-family: "SF Pro Text", Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    font-weight: 400;
    align-items: center;
    text-align: center;
    letter-spacing: -0.32px;
    color: #818C99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-group {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    margin: auto !important;
    width: 100%;
}

.CardGrid {
    width: 100%;
}

.Card {
    width: 100%;
}

.card-inner {
    display: flex;
    flex-direction: row;

}

.card-inner--text {
    display: flex;
    margin: 12px;
    font-weight: 700;
    flex-direction: column;
}

.card-inner--text span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */
    margin-top: 2px;
    letter-spacing: -0.078px;
    color: #6D7885;
}

.card-inner--left {
    margin-left: 12px;
    margin-top: 12px;
}

.card-inner--left .Icon {
    color: #3F8AE0;
}

.card-inner--right {
    margin: auto;
    margin-right: 12px;
    color: #B8C1CC;
}

.image-select {
    background-size: cover;
    background-position: center;
    height: 140px;
    border: 1px dashed #3F8AE0;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.32px;

    /* Light Accents / Accent */

    color: #3F8AE0;
    display: flex;
    align-items: center;
}

.image-select span {
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;

}

.image-select-delete {
    display: none !important;
    position: relative;
    margin-right: 8px !important;
    margin-top: 8px !important;
}

.image-select .Icon {
    margin-right: 8px;
}

.streched-button {
    width: 100%;
}

.snippet-main {
    display: flex;
    flex-direction: column;
    padding: 0px;

    /* Light Background / Snippet Background */

    /* Light / Image Border */

    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    /* Elevation · Snippet */

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    width: 94%;
    /* Inside Auto Layout */
    height: 246px;
    flex: none;
    order: 1;
    margin: 0px 0px;
}

.snippet-image {
    background-position: center;
    background-size: cover;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.snippet-info {
    height: 52px;
    width: 95%;
    text-overflow: clip;
    margin: 6px 12px 0px 12px;
}

.snippet-bottom {
    display: flex;
    flex-direction: row;

}

.snippet-bottom button {
    height: 30px;
    margin: auto;
}

.snippet-progress {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 12px;
    margin-top: 5px;
}

.snippet-progress--text {
    margin-bottom: 8px;
}

.Progress__in {
    animation: ease 5s all;
}

.snippet-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    letter-spacing: -0.24px;
}

.snippet-info-bottom {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    letter-spacing: -0.078px;

    /* Light Text / Secondary */

    color: #818C99;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-button {
    margin-top: 15px;
}